.content-section {
    background-color: #f9f9f9;
    border: 1px solid #ccc;    
    border-radius: 5px;        
    padding: 15px;             
    margin: 20px 0;
}          

.content-section h3 {
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
    background-color: black;
    color: white;
}

.content-section p {
margin: 0;
text-align: center;
background-color: #008000;
}
.image-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.image-container img {
max-width: 100%;
max-height: 100%;
}

/*Music Player*/
<img src="images/logo-svg.svg" alt="logo" width="150" height="200" style="float: left;">
<audio controls autoplay loop style="width: 150px; height: 50px; float: left;">
    <source src="music/sodden-mountaineer-main-version-01-25-12196.mp3">
    Your browser does not support the audio element.
</audio>
/* Form */
form {
    font: 13px Arial, sans-serif;
    background-color: azure;
    padding: 10px;
}
label {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
}
input[type="text"], input[type="email"], input[type="subject"], textarea {
    box-sizing: border-box;
    width: 350px;
    padding: 10px 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4f036d;
    color: rgb(3, 3, 3);
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #4f036d;
}