:root {
    --primary-color: #008000;
    --background-color: #ffffff;
    --text-color: #000000;
    --nav-background: #111111;
    --nav-text-color: #ffffff;
}
* {
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body {
    font-size: 16px; /* Sets the base font size */
    line-height: 1.5; /* Sets the base line height */
    font-family: Verdana; /* Sets the base font family */
    margin: 0; /* Removes default margin */
}
header, ul, #content-wrapper {
    width: 90%; /* Sets the width to 90% of viewport */
    max-width: 1200px; /* Limits the maximum width */
    margin-left: auto; /* Centers horizontally */
    margin-right: auto; /* Centers horizontally */
}
a {
    color: #008000; /* Sets the default link color */
}
[id=logo] {
    position: absolute; /* Positions the logo */
    top: 0px; /* Aligns to the top */
    left: 0px; /* Aligns to the left */
}
header {
    position: relative; /* Positions the header */
}
header h1, nav ul {
    padding-left: 50px; /* Adds padding to the left */
}
nav {
    background-color: #008000; /* Sets the background color */
}
li {
    list-style-type: none; /* Removes the bullet */
    display: inline-block; /* Displays horizontally */
}
ul a {
    display: inline-block; /* Displays horizontally */
    padding: 1rem; /* Adds padding */
    font: bold; /* Sets the font to bold */
    text-decoration: none; /* Removes the underline */
    color: white; /* Sets the text color */
}
ul a:hover {
    background-color: black; /* Sets the background color on hover */
    color: #9ae39a; /* Sets the text color on hover */
}
main article img {
    border: 3px double #333; /* Adds a border */
    float: left; /* Floats the image to the left */
    margin: .5rem 1rem .5rem 0; /* Adds margin */
}
main section {
    display: flex; /* Displays the section as a flex container */
}
main section div {
    background-color: #e7ffe7; /* Sets the background color */
    border: 1px solid #008000; /* Adds a border */
    border-radius: 10px; /* Adds a border radius */
    margin-right: 1rem; /* Adds margin */
    flex: 1; /* Sets the flex property */
    text-align: center; /* Centers the text */
}
#bam {
    margin-right: 0; /* Removes the margin */
}
main section div h2 {
    color: #008000; /* Sets the text color */
    border-radius: 10px 10px 0px 0px; /* Adds a border radius */
    color: white; /* Sets the text color */
    margin-top: 0; /* Removes the top margin */
    margin-bottom: 20px; /* Adds margin */
}
main section div img {
    border: 3px double #333; /* Adds a border */
    display: block; /* Displays as a block */
    margin: auto; /* Centers the image */
}
aside section {
    background-color: white; /* Sets the background color */
    margin-bottom: 1rem; /* Adds margin */
    border: 1px solid #008000; /* Adds a border */
}
aside h3 {
    background-color: #008000; /* Sets the background color */
    color: white; /* Sets the text color */
    padding: .5rem; /* Adds padding */
    margin: 0 0 0 0; /* Removes the margin */
}
aside a {
    display: inline-block; /* Displays horizontally */
    padding: .5rem; /* Adds padding */
}
#content-wrapper {
    display: flex; /* Displays the content-wrapper as a flex container */
}
aside {
    order: 2; /* Sets the order */
    flex: 1; /* Sets the flex property */
    background-color: #ccc; /* Sets the background color */
    margin-right: 1rem; /* Adds margin */
    padding: .5rem; /* Adds padding */
    position: relative; /* Positions the aside */
    top: 20px; /* Aligns to the top */
    flex: 1; /* Sets the flex property */
}
aside h2 {
    margin-top: 0; /* Removes the top margin */
    white-space: nowrap; /* Prevents wrapping */
}
#content-wrapper main {
    order: 3; /* Sets the order */
}
footer {
    position: fixed; /* Positions the footer */
    bottom: 10px; /* Aligns to the bottom */
    right: 10px; /* Aligns to the right */
    background: var(--nav-background); /* Sets the background color */
    color: var(--nav-text-color);  /* Sets the text color */
    padding: 10px 20px; /* Adds padding */
    border-radius: 8px; /* Adds a border radius */
    font-size: 0.9rem; /* Sets the font size */
}
.search-container {
    position:absolute; /* Positions the search container */
    top: 10px; /* Aligns to the top */
    right: 10px; /* Aligns to the right */
    display: flex; /* Displays as a flex container */
    align-items: center; /* Aligns vertically */
    background: var(--nav-background); /* Sets the background color */
    border: 1px solid var(--primary-color); /* Adds a border */
    border-radius: 5px; /* Adds a border radius */
    padding: 5px; /* Adds padding */
}
.search-input {
    border: none; /* Removes the border */
    padding: 5px; /* Adds padding */
    border-radius: 5px; /* Adds a border radius */
    outline: none; /* Removes the outline */
}
.search-button {
    border: none; /* Removes the border */
    background-color: transparent; /* Sets the background color */
    cursor: pointer; /* Sets the cursor */
    padding: 5px; /* Adds padding */
    border-radius: 5px; /* Adds a border radius */
    margin-left: 5px; /* Adds margin */
}
.search-button:hover {
    background-color: #f0f0f0; /* Sets the background color on hover */
}
.custom-button {
    background-color: #4CAF50; /* Sets the background color */
    border: none; /* Removes the border */
    color: white; /* Sets the text color */
    padding: 15px 32px; /* Adds padding */
    text-align: center; /* Centers the text */
    text-decoration: none; /* Removes the underline */
    display: flex; /* Displays as a block */
    font-size: 16px; /* Sets the font size */
    cursor: pointer; /* Sets the cursor */
    border-radius: 5px; /* Adds a border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a box shadow */
    transition: background-color 0.3s, transform 0.2s; /* Adds a transition */
    align-items: center;
    justify-content: center;
}
.custom-button:hover {
    background-color: #45a049; /* Sets the background color on hover */
    transform: translateY(-2px); /* Transforms the button */
}
.custom-button:active {
    background-color: #3e8e41; /* Sets the background color on active */
    transform: translateY(2px); /* Transforms the button */
}
.cr8-container {
    display: flex; /* Displays as a flex container */
    flex-direction: column; /* Sets the direction */
    align-items: center; /* Aligns horizontally */
    justify-content: center; /* Aligns vertically */
    height: 100vh; /* Sets the height */
    text-align: center; /* Centers the text */
}
.cr8-container h1 {
    font-size: 2em; /* Sets the font size */
    color: #333; /* Sets the text color */
}
.text-box {
    width: 80; /* Sets the width */
    max-width: 600px; /* Limits the maximum width */
    height: 200px; /* Sets the height */
    padding: 10px; /* Adds padding */
    font-size: 1.2em; /* Sets the font size */
    margin-bottom: 0px; /* Adds margin */
    border: 2px solid var(--primary-color); /* Adds a border */
    border-radius: 5px; /* Adds a border radius */
}
.upload-buttons {
    display: flex; /* Displays as a flex container */
    flex-direction: column; /* Sets the direction */
    align-items: center; /* Aligns horizontally */
    margin-top: 0px; /* Adds margin */
}
.upload-buttons button {
    background: var(--primary-color); /* Sets the background color */
    color: white; /* Sets the text color */
    border: none; /* Removes the border */
    padding: 10px 15px; /* Adds padding */
    margin: 0px; /* Adds margin */
    border-radius: 5px; /* Adds a border radius */
    cursor: pointer; /* Sets the cursor */
    font-size: 1rem; /* Sets the font size */
}
.upload-buttons button:hover {
    background: #006400; /* Sets the background color on hover */
}
.upload-label {
    font-size: 1.1em; /* Sets the font size */
    color: #333; /* Sets the text color */
}
#content-before-loading {
    text-align: center;
    display: none;
    font-size: 16px;
    margin-top: 20px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column on small screens */
    }
}



